<ion-header-bar class="bar-stable">
    <div>
        <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="$back()">Back</a>
        <h1 class="title">Ambler</h1>
        <button class="button ion-ios-location-outline" ng-click="restart()"></button>
      <!-- <button class="button icon ion-navicon"></button> -->
  </div>
</ion-header-bar>

<ion-view>
    <ion-scroll direction="y" >
  <ion-content>
    <!-- <ng-include src="'templates/navbar.html'"></ng-include> -->
    <!-- <div>Ambler</div> -->
    <div><img id="aboutBanner" src="/img/Ambler logo white.png" alt=""></div>
    <div class="aboutMission">Our Mission</div><br>
    <div class="aboutText">We are in a seeming state of perpetual motion with work and other commitments. We live in one of the most beautiful cities in the world, yet we rarely pause to relish in it let alone explore its splendor.</div><br>
    <div class="aboutText">Ambler wants you to take some time to reconnect with yourself, friends or loved ones and this spectacular city. </div><br>
    <div class="aboutText">We take the guess work out of what to see.  You will be offered 5 spots within your area, geared toward your preferences.</div><br>
    <div class="aboutText">Walking is good for your body, mind and soul.  So take a moment and use Ambler to discover the beauty of San Francisco on foot.</div><br>
    <div class="aboutMission">The Ambler Team</div><br>
    <div class="teamRow">
        <span><img class="teamPics" src="/img/stacy.jpg" alt=""></span>
        <span><img class="teamPics" src="/img/alex.jpg" alt=""></span>
        <span><img class="teamPics" src="/img/elsa.jpg" alt=""></span>
    </div>
    <div class="teamRow">
        <span><img class="teamPics" src="/img/huli.jpg" alt=""></span>
        <span><img class="teamPics" src="/img/noel.jpg" alt=""></span>
        <span><img class="teamPics" src="/img/scot.jpg" alt=""></span>
        <div class="aboutMission">With Love from San Francisco!</div><br>
    </div>
  </ion-content>
  </ion-scroll>
</ion-view>
