<ion-view>
  <ion-content>
    <ng-include src="'templates/navbar.html'"></ng-include>
    <div>Ambler</div><br>
    <div>Our Mission</div><br>
    <div>Busy. Busy. Busy.</div>
    <div>We are in a seeming state of perpetual motion with work and other commitments. We live in one of the most beautiful cities in the world, yet we rarely pause to relish in it let alone explore its splendor.</div><br>
    <div>Ambler wants you to take some time to reconnect with yourself, friends or loved ones and this spectacular city. </div><br>
    <div>We take the guess work out of what to see.  You will be offered 5 spots within your area, geared toward your preferences.</div><br>
    <div>Walking is good for your body, mind and soul.  So take a moment and use Ambler to discover the beauty of San Francisco on foot.</div><br>
    <div>Meet the Team</div>
  </ion-content>
</ion-view>
