<ng-include src="'templates/navbar.html'"></ng-include>
<!-- <ng-include src="'templates/sideMenu.html'"></ng-include> -->

<ion-view>
  <ion-content class="has-header has-footer">
    <div id="selectionText">I'd Like to See:</div>
    <div>
      <ion-list class="list">
        <ion-item class="item-text-wrap row" ng-repeat="spot in spots">
          <div class="col col-40"><img class="imgLoc" ng-src="{{ spot.picURL }}"></div>
          <div class="col col-45">
            <!-- <div class="row"> -->
            <!-- {{ spot.name }} -->
            <ion-checkbox ng-checked="chosen.indexOf(spot) > -1" ng-model="checkValue" ng-click="toggleChosen(spot)" class="checkbox-positive">{{ spot.name }}</ion-checkbox>
            <!-- </div> -->
            <div class="blurb row">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              {{ spot.description }}
            </div>
            <button class="button button-clear button-positive" ng-click="seeSpot(spot)">
              Read More...
            </button>
          </div> <!-- .col-45 -->
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-positive">
    <!-- <button class="button button-clear button-light">Amble</button> -->
    <div class="button-bar">
      <!-- <a class="button">First</a> -->
      <a id="goAmble" class="button" ng-click="goAmble()">Amble</a>
      <!-- <a class="button">Third</a> -->
    </div>
  </div>
</ion-view>
