<ion-header-bar class="bar-stable">
	<div>
		<a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="$back()">Back</a>
	  <h1 class="title">Ambler</h1>
	  <!-- <button class="button icon ion-navicon"></button> -->
    <!-- <button class="button icon ion-gear-a"></button> -->
    <!-- <a class="button ion-ios-location-outline" ng-click="restart()"></a> -->
    <button class="button ion-ios-information-outline" ng-click="about()"></button>
    

  </div>
</ion-header-bar>

<!-- <ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Playlists
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus> -->