<!-- <ng-include src="'templates/navbar.html'"></ng-include> -->
<!-- <ng-include src="'templates/sideMenu.html'"></ng-include> -->
<ion-header-bar class="bar-stable">
  <div>
    <h1 class="title">Ambler</h1>
    <button class="button icon ion-navicon"></button>
  </div>
</ion-header-bar>

<ion-view>
  <ion-content class="has-header has-footer">
    <div>
      <ion-list class="list">
        <ion-item class="item-text-wrap row" ng-repeat="selection in selections">
          <div class="col col-40"><img class="imgLoc" ng-src="{{ selection.picURL }}"></div>
          <div class="col col-45">
            <!-- <div class="row"> -->
            {{ selection.name }}
            <!-- <ion-checkbox class="checkbox-positive">{{ selection.name }}</ion-checkbox> -->
            <!-- </div> -->
            <div class="blurb row">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </div>
            <button class="button button-clear button-positive" ng-click="seeSpot()">
              Read More...
            </button>
          </div> <!-- .col-45 -->
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-stable">
    <!-- <button class="button button-clear button-light">Amble</button> -->
    <div class="button-bar">
      <a class="button" href="#/list">List View</a>
      <!-- <a class="button" ng-click="goAmble()">Amble</a> -->
      <a class="button" href="#/map">Map View</a>
    </div>
  </div>
  <!-- <div class="bar bar-footer bar-positive"> -->
    <!-- <button class="button button-clear button-light">Amble</button> -->
    <!-- <div class="button-bar"> -->
      <!-- <a class="button">First</a> -->
      <!-- <a class="button" ng-click="goAmble()">Amble</a> -->
      <!-- <a class="button">Third</a> -->
    <!-- </div> -->
  <!-- </div> -->
</ion-view>