<ng-include src="'templates/navbar.html'"></ng-include>

<ion-view>
  <ion-content class="has-header">
		<!-- LOCATION TITLE SHOULD GO HERE -->
		<div id="spotName" class="spotText">{{ spot.name }}</div>
		<div id="spotAdd" class="spotText">{{ spot.address }}</div>
		<div id="mainImg"><img id="spotPic" ng-src="{{ spot.picURL }}"></div>
			<span><img class="spotThumbs" ng-src="{{ spot.imgOne }}"></span>
			<span><img class="spotThumbs" ng-src="{{ spot.imgTwo }}"></span>
			<span><img class="spotThumbs" ng-src="{{ spot.imgThree }}"></span>
		</div>
		<div id="spotDesc" class="spotText">{{ spot.description }}</div>
		<div class="spotThumbs">
  </ion-content>
</ion-view>