<ion-header-bar class="bar-stable">
	<div>
		<button class="button ion-ios-location-outline" ng-click="restart()"></button>
	  <h1 class="title">Ambler</h1>
		<button class="button ion-ios-information-outline" ng-click="about()"></button>
  </div>
</ion-header-bar>
<ion-view>
  <ion-content class="has-header has-footer">
    <div id="map" data-tap-disabled="true"></div>

		<!-- CREATE SEPARATE DIV FOR LIST VIEW TO TOGGLE BETWEEN (IF TIME AVAILABLE) -->
		<!-- <div>
			<ul>
				<li ng-repeat="location in locations">
					<div>{{ location.id }} | {{ location.name }}</div>
					<div>{{ location.address }}</div>
					<hr>
				</li>
			</ul>
		</div> -->

  </ion-content>
  <div class="bar bar-footer bar-stable">
    <!-- <button class="button button-clear button-light">Amble</button> -->
    <div class="button-bar">
      <a class="button" href="#/spots">List View</a>
      <!-- <a class="button" ng-click="goAmble()">Amble</a> -->
      <a class="button" href="#/map">Map View</a>
    </div>
  </div>
</ion-view>